.hero {
  height: 100vh;
  min-height: 600px;
  background-color: var(--test-9);
  padding-top: 5rem;
  .hero-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
  }
}

.footer {
  background-color: var(--test-8);
  color: white;
  text-align: center;
}
